*{
    margin: 0;
    padding: 0;
}


.container{
    height: 100vh;
    width: 100%;
    background: black;
}

.banner{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    overflow: hidden;
    
}

.banner::after{
    content: "";
    height: 100%;
    width: 250%;
    position: absolute;
    top: 0;
    right: 0;
    background: linear-gradient(to right, transparent, black, black);
    animation: bannerAnim 2s linear forwards;

}

.heading{
    color: #91130f;
    font-family:'Ubuntu', sans-serif;
    font-size: 100px;
    margin-bottom: 100px;
    border-bottom: 5px solid #91130f;
    border-top: 5px solid #91130f;

}

.btn{
    width: 200px ;
    padding: 10px;
    font-size: 20px;
    letter-spacing: 2px;
    font-family:'Ubuntu', sans-serif ;
    outline: none;
    border: none;
    background: linear-gradient(to right, #440402, #c0120c );
    color: white;
    border-radius: 100px;
    transform: perspective(500px) rotateY(-15deg);
    text-shadow: 10px 5px 10px 5px black;
    cursor: pointer;
    animation: buttonAnim 1s 1.5s backwards;
    transition: all .5s ;
    overflow: hidden;
}

@keyframes bannerAnim{
    0%{right: 0;}
    100%{right: -250%;}
}

@keyframes buttonAnim{
    0%{opacity: 0;}
    100%{opacity: 100%;}
}

.btn::before{
    content: '';
    width: 100%;
    height: 100%;
    background: linear-gradient(to right,transparent, white,transparent);
    position: absolute;
    top: 0;
    left: -100%;
    transform: skewX(-30deg);
    transition: left .5s;
    
    
}

.btn:hover::before{
    left:100%;


}

.btn:hover{
    transform: perspective(500px) rotateY(15deg);
    text-shadow: -10px 5px 10px 5px black;
    background: linear-gradient(to right,#c0120c, #440402 );


}
.slideshow_wrapper{
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    transition: opacity 1s;
}

.slideshow{
    display: flex;
    width: 400%;
    height: 100%;
    position: relative;
    
}

@keyframes slideshowAnim{
    0%{left: 0;}
    10%{left: 0;}
    15%{left: -100%;}
    25%{left: -100%;}
    30%{left: -200%;}
    40%{left: -200%;}
    45%{left: -300%;}
    55%{left: -300%;}
    60%{left: -200%;}
    70%{left: -200%;}
    75%{left: -100%;}
    85%{left: -100%;}
    90%{left: 0;}
    
   

}
.slide{
    height: 100vh;
    width: 100%;
}

.slide:nth-child(1){
    background: linear-gradient(100deg,rgba(38,38,38,1), rgba(38,38,38,.8), transparent) ,url(..//Images/london.jpg) no-repeat center;
    background-size: cover;
}
.slide:nth-child(2){
    background:linear-gradient(100deg,rgba(38,38,38,1), rgba(38,38,38,.8), transparent) , url(..//Images/rome.jpg) no-repeat center;
    background-size: cover;
}


.slide:nth-child(3){
    background:linear-gradient(100deg,rgba(38,38,38,1), rgba(38,38,38,.8), transparent) , url(..//Images/newyork.jpg) no-repeat center;
    background-size: cover;
}


.slide:nth-child(4){
    background: linear-gradient(100deg,rgba(38,38,38,1), rgba(38,38,38,.8), transparent) ,url(..//Images/tokyo.jpg) no-repeat center;
    background-size: cover;
}

.content{
    width: 500px;
    position: relative;
    top:40%;
    left:5%;
    
}

.content h3{
    color: white;
    font-family: 'Josefin Sans',sans-serif;
    font-size: 50px;
    font-weight: bold;
    margin: 0 0 35px 0;
    letter-spacing: 1px;
}
.content p{
    color: gray;
    font-family:'Ubuntu', sans-serif ;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    margin: 0 0 80px 0;

}

.content button{
    width: 110px;
    font-size: 17px;
    text-align: start;
    padding: 0 0 5px 0;
    /*border-radius: 30px;*/
    border: none;
    outline: none;
    background: transparent;
    color: white;
    letter-spacing: 1px;
    cursor: pointer;
    border-bottom: 1px solid white;
    font-weight: 100;
}

.fa-arrow-right{
    margin-left: 5px;
}








